body {
    background-color: whitesmoke;
}
 

.input_binary {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 10px;
}
.convert_binary {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 10px;
}